<?xml version="1.0"?>
<!-- 
    참고: 이 파일을 직접 편집하는 대신 웹 관리 도구를 사용하면 
    사용 중인 응용 프로그램에 대한 설정을 구성할 수 있습니다.
    Visual Studio에서 [웹 사이트]의 [Asp.Net 구성] 옵션을 사용하십시오.
    설정 및 주석에 대한 전체 목록은 일반적으로 
    \Windows\Microsoft.Net\Framework\v2.x\Config의 
    machine.config.comments에 있습니다. 
-->
<configuration>
	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>
 <appSettings>
  <!--<add key="ChartImageHandler" value="Storage=memory;Timeout=20;Url=~/tempImages/;"/>-->
   <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
 </appSettings>
	<connectionStrings>
  <add name="SibalChk2011ConnectionString" connectionString="Data Source=124.198.16.87,8000;Initial Catalog=SibalChk2011;Persist Security Info=True;User ID=jung;Password=!jwj2114!"
   providerName="System.Data.SqlClient" />
  <add name="SibalChk2011ConnectionString1" connectionString="Data Source=124.198.16.87,8000;Initial Catalog=SibalChk2011;Persist Security Info=True;User ID=jung;Password=!jwj2114!"
   providerName="System.Data.SqlClient" />
  <add name="ASPNETDBConnectionString" connectionString="Data Source=124.198.16.87,8000;Initial Catalog=ASPNETDB;Persist Security Info=True;User ID=jung;Password=!jwj2114!"
   providerName="System.Data.SqlClient" />
  <add name="SibalChk2011ConnectionString2" connectionString="Data Source=124.198.16.87,8000;Initial Catalog=SibalChk2011;User ID=jung;Password=!jwj2114!"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            컴파일된 페이지에 디버깅 기호를 삽입하려면 
            compilation debug="true"로 설정하십시오. 이렇게 하면 
            성능에 영향을 주므로 개발하는 동안에만 이 값을 
            true로 설정하십시오.

            Visual Basic 옵션:
            데이터 손실이 발생할 수 있는 모든 데이터 형식 변환을 
            허용하지 않으려면 strict="true"로 설정하십시오. 
            모든 변수를 선언하도록 하려면 explicit="true"로 설정하십시오.
        -->
		<httpHandlers>
   <add path="ChartImg.axd" verb="POST,GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
    validate="false" />
    </httpHandlers>
  <roleManager enabled="true"/>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <namespaces>
    <clear />
    <add namespace="System" />
    <add namespace="System.Collections" />
    <add namespace="System.Collections.Generic" />
    <add namespace="System.Collections.Specialized" />
    <add namespace="System.Configuration" />
    <add namespace="System.Text" />
    <add namespace="System.Text.RegularExpressions" />
    <add namespace="System.Linq" />
    <add namespace="System.Xml.Linq" />
    <add namespace="System.Web" />
    <add namespace="System.Web.Caching" />
    <add namespace="System.Web.SessionState" />
    <add namespace="System.Web.Security" />
    <add namespace="System.Web.Profile" />
    <add namespace="System.Web.UI" />
    <add namespace="System.Web.UI.WebControls" />
    <add namespace="System.Web.UI.WebControls.WebParts" />
    <add namespace="System.Web.UI.HtmlControls" />
   </namespaces>
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
		<!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            보안 인증 모드의 구성을 설정하여 들어오는 
            사용자를 식별할 수 있습니다. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation"/>
		</authentication>
		<anonymousIdentification enabled="true"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." 
             type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="false"/>
      </providers>
    </siteMap>
    <!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이 섹션에서는 개발자가 
            오류 스택 추적 대신 html 오류 페이지가 표시되도록 
            구성할 수 있습니다.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
	<!-- 
        IIS(Internet Information Services) 7.0에서 ASP.NET AJAX를 실행하려면
        system.webServer 섹션이 필요합니다. 이전 버전의 IIS에서는 필요하지 않습니다.
    -->
</configuration>
